#home-film-container {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	margin-top: 40px;
	row-gap: 60px;
	width: 80%;
	min-height: 1100px;
	padding: 40px 40px 40px 40px;
	margin-top: 40px;
	background-color: #19304C;
	border-radius: 20px;
}
