.film-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #D1E3FA;
	transition: transform 2 s ease;
}

.film-card img:hover {
	transform: translateY(-20px) scale(1.01); /* Move up by 20px and grow by 5% */
}

.film-card img{
	height: 420px;
	width: auto;
	border-radius: 20px;
}

.film-title {
	margin-top: 10px;
	font-size: 25px;
	font-weight: 400;
}


.react-loading-skeleton {
    /* Customizing the background color and the animation speed */
	border-radius: 40px;
    background-color: #86B3E9;
    background-image: linear-gradient(45deg, #D1E3FA, #D1E3FA, #D1E3FA);
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
