.bottom{
	background-color: #67717E;
	height: 100px;
	margin-top: 100px;
	width: 100%;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;

	.git{
		font-size: 40px;
		color: white;
	}
}
