.userWeather {
	width: 80%;
	height: 90px;
	padding: 0px 40px 0px 40px;
	background-color: #19304C;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#weather-icon {
	width: 80px;
	height: auto;
}

#temperature-number {
	font-size: 30px;
	border-bottom: 8px solid #f8f8fa;
	color: #f8f8fa
	/* font-weight: 500; */
}

#user-greeting {
	color: #f8f8fa;
	font-size: 30px;
	font-weight: 300;
}
