.auth-wrapper {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 70vw;
    max-width: 450px;
    height: 65vh;
    gap: 3rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 5% auto;
}

.welcome-text {
    text-align: center;
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 85%;
    gap: 2rem;
}

input {
    height: 2em;
    font-size: 1rem;
}

p {
    margin: 0;
    color: #9d0000;
}
