#hamburger-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.bars{
	width: 40px;
	height: 40px;
	margin-left: auto;
}

.home__top{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(134, 179, 233,0.5);
	width: 100%;
	margin-bottom: 40px;
	padding: 5px;
	position: relative;
	height: 60px;
}
